.about-us-container {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10vh;

    p {
        font-size: 3.5vh;
    }

    h1 {
        animation: slideFromLeft 0.75s ease-out forwards;
    }
}

@media(max-width: 480px) {
    .about-us-container p {
        font-size: 2vh;
    }
}