.hero-container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    animation: slideFromLeft 0.75s ease-out forwards;

    
    .hero-text {
      margin-right: 10vw;
      padding-left: 30px;
  
      h1 {
        font-size: 100px;
      }
  
      p {
        font-size: 40px;
      }
    }
  
    .hero-image {
      height: 80vh;
    }
  
    @media(max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 0;
  
      .hero-image {
        height: 55vh;
      }
    }
  
    @media(max-width: 480px) {
      .hero-text {
        h1 {
          font-size: 50px;
        }
  
        p {
          font-size: 30px;
        }
      }
  
      .hero-image {
        height: 50vh;
      }
    }
  }
  
