.footer-container {
    display: flex;
    width: 100%;
    background-color: #F7F7F7;
    justify-content: space-around;
    gap: 10vw;

    h3 {
        color: #208BFF;
    }

    .footer-sub-container {
        width: 33.33%;
        text-align: left;
        margin: 0 auto;
    }

}

@media(max-width: 480px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-sub-container {
        width: 100%;
    }
}

@media(min-width: 760px) {
    .footer-sub-container:nth-child(1) {
        margin-left: 6vw;
    }
}