.footer-container {
    display: flex;
    width: 100%;
    background-color: #F7F7F7;
    justify-content: space-around;
    gap: 10vw;
    padding: 20px;

    h3 {
        color: #208BFF;
    }

    .footer-sub-container {
        width: 33.33%;
        text-align: left;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .footer-container {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
    }

    .footer-sub-container {
        width: 100% !important;
        margin: 0 !important;
        text-align: center !important;
    }
}