.policies-container {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10vh;
}

#bold {
    font-weight: bold;
}

@media(max-width: 480px) {
    .policies-container {
        width: 90%;
    }
}